package {{basicPath}}.dto;

import lombok.*;

import java.util.Objects;

//@Setter
//@AllArgsConstructor
//@NoArgsConstructor




@Data
public class {{upperKeyword}}Dto {  //예시 : com_user 테이블 Dto

private {{primaryFieldParameterDto}} userNo;

private {{primaryFieldParameterDto}} userId;

private {{primaryFieldParameterDto}} userNm;

private {{primaryFieldParameterDto}} userPw;

private {{primaryFieldParameterDto}} userRole;

private {{primaryFieldParameterDto}} photo;

private {{primaryFieldParameterDto}} deptNo;

private {{primaryFieldParameterDto}} deleteFlag;


}


