package {{basicPath}}.service;

 import {{basicPath}}.dao.IndexDao;
 import {{basicPath}}.dto.{{upperKeyword}}Dto;
 import lombok.RequiredArgsConstructor;
 import lombok.extern.slf4j.Slf4j;
 import org.springframework.stereotype.Service;

import java.util.List;

@Slf4j
@RequiredArgsConstructor
@Service
public class {{upperKeyword}}Service{

    private final {{upperKeyword}}Dao {{keyword}}Dao;

    public List<{{upperKeyword}}Dto> get{{upperKeyword}}List() {
        List<{{upperKeyword}}Dto> {{keyword}}List = {{keyword}}Dao.select{{upperKeyword}}List();
        log.info({{upperKeyword}}List.toString());
        return {{keyword}}List;
    }

    public {{upperKeyword}}Dto get{{upperKeyword}}Data({{primaryFieldParameter}}) {
        return {{keyword}}Dao.select{{upperKeyword}}Data({{primaryFieldVariable}});
    }

    public Integer add{{upperKeyword}}Data({{upperKeyword}}Dto {{keyword}}Dto) {
        return {{keyword}}Dao.insert{{upperKeyword}}Data({{keyword}}Dto);
    }

    public Integer modify{{upperKeyword}}Data({{upperKeyword}}Dto {{keyword}}Dto) {
        return {{keyword}}Dao.update{{upperKeyword}}Data({{keyword}}Dto);
    }

    public Integer delete{{upperKeyword}}Data({{primaryFieldParameter}}) {
        return {{keyword}}Dao.delete{{upperKeyword}}Data({{primaryFieldVariable}});
    }
        }


