import {{basicPath}}.service;

import java.util.List;

public interface {{upperKeyword}}Service {

List<{{upperKeyword}}Dto> get{{upperKeyword}}List();
    {{upperKeyword}}Dto get{{upperKeyword}}Data({{primaryFieldDto.type}} {{primaryFieldDto.name}});
    Integer add{{upperKeyword}}Data({{upperKeyword}}Dto {{keyword}}Dto);
    Integer modify{{upperKeyword}}Data({{upperKeyword}}Dto {{keyword}}Dto);
    Integer delete{{upperKeyword}}Data(Long {{primaryFieldDto.name}});

    }

